@using testcsharpschmvc.Models

@model AppViewModel

@{
    Layout = null;
    ViewData["Title"] = "Page 1";
}

<div>
    <h4>Page 1</h4>
    <div>Welcome @Model.Username !!</div>
    <div>
        <a href="http://localhost/App/Logout">Logout</a>
    </div>
</div>