@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<div>
    <div>
        <h3>Login</h3>
    </div>
    <div>
        <input type="text" placeholder="Username" />
    </div>
    <div>
        <input type="text" placeholder="Password" />
    </div>
</div>