@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<div>
    <div>
        <h3>Login</h3>
    </div>
    
    <form asp-action="Signin" asp-controller="Login">
        <div>
            <input name="username" type="text" placeholder="Username" />
        </div>
        <div>
            <input name="password" type="text" placeholder="Password" />
        </div>
        <div>
            <input type="submit" value="Log in" />
        </div>
    </form>

</div>